@font-face {
    font-family: 'font-Regular';
    src: url(../font/InriaSans-Regular.ttf);
}
@font-face {
    font-family: 'font-bold';
    src: url(../font/InriaSans-bold.ttf);
}
@font-face {
    font-family: 'font-light';
    src: url(../font/InriaSans-light.ttf);
}
body{
    font-family: 'font-Regular';
}