#section_4{
    padding: 7.222222222222222vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   .row>.text-center{
        margin-top: 54px;
        article{
            p{
              margin-top: 39px;   
            }
            &:before{
                content: "";
            }
        }
    }
}
#section_5{
    padding: 7.847222222222222vw;
}